<div class="row">
  {{#each book}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/books/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ quote }} </p>
        
        <p>{{ genere }} </p>
        <!-- DELETE REQUEST -->
         <form action="/books/delete/{{_id}}" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <p clsss="lead">There are no books registered yet</p>
      <a href="/books/add" class="btn btn-success btn-block">Add a book</a>
    </div>
  </div>
  {{/each}}
</div>