<div class="col-md-4 mx-auto"></div>
  <div class="card text-center">
    <div class="card-header">
      <h3>Enter new book</h3>
    </div>
    <div class="card-body">
      <form action="/books/new-book" method="POST">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Title" autofocus/>
        </div>
        <div class="form-group">
          <textarea name="quote" class="form-control" placeholder="Quote"></textarea>
        </div>
        <div class="form-group">
          <textarea name="genere" class="form-control" placeholder="Genere"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit" value="Submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>