<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header">
      <h3>Edit book</h3>
    </div>
    <div class="card-body">
      <form action="/books/edit-book/{{book._id}}" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <input type="text" name="title" class="form-control" value="{{book.title}}"/>
        </div>
        <div class="form-group">
          <textarea name="quote" class="form-control">{{book.quote}}</textarea>
        </div>
        <div class="form-group">
          <textarea name="genere" class="form-control">{{book.genere}}</textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>