
<div class="jumbotron mt-4">
  <h1 class="display-4">Libros y mas!</h1>
  <p class="lead">Busca y agrega nuevos libros! </p>
  <hr class="my-4">
  </p>
  <a class="btn btn-primary btn-lg" href="books/add" role="button">Register book</a>
  <a class="btn btn-primary btn-lg" href="books/book-catalog" role="button">Book catalog</a>
</div>